body{
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: red;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
p{
    text-align: center;
    color: #964B00; 
    line-height: 30px;
}
a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;

}
textarea{
    color: black;
}